<html>
  <head>
    <title>Cohere Hackathon</title>
    <script type="text/javascript" charset="utf-8">
      window.onload = function () {
        document
          .getElementById("chat-form")
          .addEventListener("submit", function (e) {
            e.preventDefault();
            let message = e.target.elements["message"].value;
            e.target.reset();
            document.getElementById("chat").innerHTML +=
              "You: " + message + "\n";
            e.target.elements["message"].disabled = true;
            e.target.elements["message"].placeholder = "waiting for response...";
            e.target.elements["submit"].disabled = true;
            fetch("/chat", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                content: message,
              }),
            })
              .then((res) => res.json())
              .then((res) => {
                console.log(res);
                document.getElementById("chat").innerHTML +=
                  "Therapist: " + res.content + "\n";
                e.target.elements["message"].disabled = false;
                e.target.elements["message"].placeholder =
                  "Enter your message here then press the Enter key";
                  e.target.elements["submit"].disabled = false;
              });
          });
      };
    </script>
  </head>
  <body>
    <h1>Cohere Hackathon</h1>

    <textarea id="chat" cols="80" rows="20"></textarea><br /><br />
    <form id="chat-form">
      <input
        id="text"
        size="80"
        placeholder="Enter your message here then press the Enter key"
        name="message"
      />
      <input type="submit" value="Send" name="submit"/><br /><br />
    </form>
  </body>
</html>
